<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/basicCss")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/owlCarousel") 
    @Scripts.Render("~/bundles/torshult")
</head>
<body>
    
@RenderBody()
@RenderSection("scripts", required: false)

</body>
</html>
